default:
    autoload:
        "": "%paths.base%/tests/features/bootstrap"
    suites:
        default:
            paths:
                - "%paths.base%/tests/features"
            contexts:
                - CommandContext:
                    kernel: '@kernel'
                    basePath: '%paths.base%'
    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: tests/features/bootstrap/bootstrap.php
                class: App\Kernel
